*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: var(--mantine-font-family);
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  user-select: none;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not(
    [type="submit"]
  ):not([type="reset"]):not([type="image"]),
textarea,
[contenteditable="true"] {
  -webkit-user-select: text;
  user-select: text;
}

img {
  -webkit-user-drag: none;
}
